@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
